*{
color:white;
font-family:"Source Code Pro", monospace;  
margin:0;
box-sizing: border-box;
}


body{
background-color:black;
}

div{
border:5px solid #00C4FF;
display:inline;
}

button{
border:5px solid #00C4FF;
background-color:black;
width:auto;
}

a{
text-decoration:none;
}

h1{
display:inline;
}

footer{
background-color:#00C4FF;
color:black;
height:75px;
width:99.2%; 
padding-top:15px;
padding-left:14px;
}

.nav{
height: 131px;
display: block;
justify-content: space-between;
align-items: center;   
padding: 10px 40px;

}

.navtext{
margin-top:150px;
border:0px;
display:inline;
}

.logo{
margin:10px;
border-radius:100px;
width: 432px;
height: 197px;
position:relative;
z-index:1000;
}

.learnoptions {
    margin-top: 40px;
border:0px;
}

.learnsection {
        display: flex;
    align-items: center;
    margin-bottom: 40px;
    width:500px;
    border:0px;
}

.box {
width: 185px;
height: 185px;
}

.triangle {
        position: relative;
width: 206px;
height: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    margin-left: 21px;
}

.triangle::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 92.5px solid transparent;
    border-bottom: 92.5px solid transparent;
    border-left: 260px solid #00C4FF;
}

.triangle span {
    position: relative;
        padding-left:15px;
}




.heroimagemain{
width: 960px;
height: 862px;
border: 5px solid #00C4FF;
}

.heroimage{
width:99.5%; 
height: 875px;
object-fit: cover;
display: block;
border: 5px solid #00C4FF;
}

.CTA{
top: 898px;
left: 829px;
width: 262px;
height: 58px;
border-radius:54px;
}

.section{
height: 506px;
border:0px;
}

.sectionheader{
text-decoration:underline;
}

.sectionimage{
width: 621px;
height: 426px;
margin:0px 0px 10px 1200px;
border: 5px solid #00C4FF;
}

.sectioncta{
width: 192px;
height: 71px;
border-radius: 39px;
}

.mini{
background-color:blue;
border-color:#00C4FF;
width:50%;
height:2px;
border-width:5px;
margin:9px auto 7px auto;
}